@model HP.ClearingCenter.FrontEnd.Models.Products.ProductDetailsViewModel
@{
    ViewBag.Title = Html.Translate(HP.ClearingCenter.Application.Page.Texts, x => x.ProductDetails_TitleText);
    ViewBag.ProductDetailsView = this.Model;
}

<article>
    <header>
        <h1>@Html.Translate(HP.ClearingCenter.Application.Page.Texts, x => x.ProductDetails_TitleText)</h1>
    </header>
    <p class="intro">
        @Html.TranslateWithEditor(HP.ClearingCenter.Application.Page.Texts, x => x.ProductDetails_IntroText)
    </p>

    <div>
        @Html.Partial("_ProductData", this.Model.AddOrUpdateProductCommand)
    </div>

    @if (!this.Model.IsAddNew && this.Model.CategoryAttributes != null && this.Model.CategoryAttributes.Length > 0)
    {
        <div>
            @Html.Partial("_ProductAttributesData", this.Model.SubmitProductAttributesCommand)
        </div>
    }

</article>

@section scripts {
    @Scripts.Render("~/bundles/jqueryui.js")
    @Scripts.Render("~/bundles/jqueryval.js")    
    <script type="text/javascript">

    </script>
}
